/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Verdana, Arial;
}

.left {
    float: left;
    width: 70%;
    height: auto;    
}

.content {
    width: 950px;
}

.right {
    float: right;
    width: 29%;
    height: auto; 
}

.clearPanel{
    clear: both;
}
