<div class="tableproducts">
    <md-list>
        <md-item ng-repeat="p in listProducts track by $index">
            <md-item-content>
                <div class="md-tile-content">
                    <h3>{{p.productDTO.name}}</h3>
                    <h4>Precio: ${{p.productDTO.value}}</h4>
                    <p>
                        Costo:{{p.productDTO.cost}} - Productor: {{p.productDTO.producer}}
                    </p>
                </div>
                <div class="md-tile-right">
                    <md-button class="md-button-colored" ng-click="editProduct(p)" id="edit{{$index}}">Editar</md-button>
                    <md-button ng-click="deleteProduct(p)" id="delete{{$index}}">Eliminar</md-button>
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
    </md-list>
</div>